{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1 class="mb-4">Здравствуйте, я автор проекта Yatube!</h1>
    
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Немного обо мне</h5>
        <p class="card-text">
          Студент я. 
        </p>
      </div>
    </div>
    
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Мой путь в программирование</h5>
        <p class="card-text">
          Тяжко, очень тяжко.
        </p>
      </div>
    </div>
    
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Где найти мой след</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://github.com/zheka171717" target="_blank">GitHub</a>
          </li>
          <li class="list-group-item">
            <a href="#" target="_blank">Telegram</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="alert alert-info">
      <i class="bi bi-chat-dots-fill me-2"></i>
       В создании этого проекта мне помогали мои одногруппнички.
    </div>
  </div>
</div>
{% endblock %}